<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="quilt-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quilts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="quilt-link">
                <a href="" class="dropdown-item">Baby</a>
                <a href="" class="dropdown-item">Lap Quilts &amp Throws</a>
                <a href="" class="dropdown-item">Bedding</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="haberdashery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Haberdashery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="haberdashery-link">
                <a href="" class="dropdown-item">Fabric</a>
                <a href="" class="dropdown-item">Batting</a>
                <a href="" class="dropdown-item">Tools &amp Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="book-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="book-link">
                <a href="" class="dropdown-item">Beginner's Quilting</a>
            </div>
        </li>
    </ul>
</div>