<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="quilt-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quilts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="quilt-link">
                <a href="{% url 'products' %}?category=baby_quilts" class="dropdown-item">Baby Quilts</a>
                <a href="{% url 'products' %}?category=lap_throw" class="dropdown-item">Lap Quilts &amp Throws</a>
                <a href="{% url 'products' %}?category=single_quilts" class="dropdown-item">Single Quilts</a>
                <a href="{% url 'products' %}?category=double_quilts" class="dropdown-item">Double Quilts</a>
                <a href="{% url 'products' %}?category=king_quilts" class="dropdown-item">King Size Quilts</a>
                <a href="{% url 'products' %}?category=baby_quilts,lap_throw,single_quilts,double_quilts,king_quilts" class="dropdown-item">All Quilts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="haberdashery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Haberdashery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="haberdashery-link">
                <a href="{% url 'products' %}?category=fabric" class="dropdown-item">Fabric</a>
                <a href="{% url 'products' %}?category=fabric_bundles" class="dropdown-item">Fabric Bundles</a>
                <a href="{% url 'products' %}?category=batting" class="dropdown-item">Batting</a>
                <a href="{% url 'products' %}?category=tools" class="dropdown-item">Tools &amp Accessories</a>
                <a href="{% url 'products' %}?category=fabric,fabric_bundles,batting,tools" class="dropdown-item">All Haberdashery</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="book-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="book-link">
                <a href="{% url 'products' %}?category=beginners_books" class="dropdown-item">Beginner's Quilting Books</a>
                <a href="{% url 'products' %}?category=free_motion_books" class="dropdown-item">Free Motion Quilting Books</a>
                <a href="{% url 'products' %}?category=pattern_books" class="dropdown-item">Quilting Pattern Books</a>
                <a href="{% url 'products' %}?category=quilt_as_you_go_books" class="dropdown-item">Quilt As-You-Go Books</a>
                <a href="{% url 'products' %}?category=beginners_books,free_motion_books,pattern_books,quilt_as_you_go_books" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'contact' %}" id="homecontact-link">
                Contact Us
            </a>
        </li>
    </ul>
</div>